/* Global */
#gpay-notice-div {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

#gpay-notice {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 1.4vw;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
}

#portrait {
    max-width: 99%;
    max-height: auto;
}

.center-items {
    text-align: center;
}

#grid {
    padding: 0 0 0 0;
}

#header-div {
    overflow: hidden;
}

p {
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

a {
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

#contact-list-div {
    text-align: center;
}

/* Desktop */
@media (min-width: 1300px) {
    #gpay-email {
        font-size: 3.4vw;
    }
}

@media (min-width: 1300px) {
    #gpay-notice {
        background-color: #fefefe;
        margin: 15% auto;
        /* 15% from the top and centered */
        padding: 1.4vw;
        border: 1px solid #888;
        width: 80%;
        box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
    }
}

@media (min-width: 1300px) {
    #gpay-header {
        font-size: 2.8vw;
        margin: 0 0 2% 0;
    }
}

@media (min-width: 1300px) {
    .gpay-instructions {
        font-size: 1.7vw;
        margin: 0.5% 0 1% 0;
        line-height: 1.7vw;
    }
}

@media (min-width: 1300px) {
    #gpay-email-div {}
}

@media (min-width: 1300px) {
    #header {
        font-size: 3.3vw;
        margin: 1.1vw 0 1.1vw 0;
    }
}

@media (min-width: 1300px) {
    .contact-icon {
        margin: 0 0.5vw 0 0;
    }
}

@media (max-width: 1299px) {
    #gpay-email {
        font-size: 150%;
    }
}

@media (min-width: 1300px) {
    #contact-header {
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-size: 1.6vw;
        font-weight: 400;
        line-height: 32px;
        margin: 0 0 0 0;
    }
}

@media (min-width: 1300px) {
    #contact-list {
        margin: 0 0 0 0;
    }
}

@media (min-width: 1300px) {
    .donate-button {
        width: 25%;
    }
}

@media (min-width: 1300px) {
    #donate-header {
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-size: 1.6vw;
        font-weight: 400;
        line-height: 32px;
    }
}

/* Phone/Tablet */
@media (max-width: 1299px) {
    #gpay-header {
        font-size: 175%;
        margin: 0 0 2% 0;
    }
}

@media (max-width: 1299px) {
    #gpay-notice {
        background-color: #fefefe;
        margin: 15% auto;
        /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
    }
}

@media (max-width: 1299px) {
    .gpay-instructions {
        font-size: 100%;
        margin: 0.5% 0 2% 0;
    }
}

@media (max-width: 1299px) {
    #gpay-email-div {
        margin: 0 0 2% 0
    }
}

@media (max-width: 1299px) {
    #header {
        font-size: 200%;
        text-align: center;
    }
}

@media (max-width: 1299px) {
    .contact-icon {
        margin: 0 8px 0 0;
    }
}

@media (max-width: 1299px) {
    #contact-header {
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        text-align: center;
    }
}


@media (max-width: 1299px) {
    #contact-list {
        padding: 0 0 0 0;
        display: inline-block;
    }
}


@media (max-width: 1299px) {
    .donate-button {
        width: 75%;
        margin: 1%;
    }
}

@media (max-width: 1299px) {
    #donate-header {
        text-align: center;
        margin: 0 0 1% 0;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
    }
}


@media (max-width: 1299px) {
    #donate-button-div {
        text-align: center;
    }
}
